body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin-top: 0px;
   
}

.top-container {
    background-color: steelblue;
    padding-top: 100px;
    position: relative;
   }

.middle-container {
   
}

.bottom-container {
    
}

.web {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    right: 300px;
    top: 50px;
    position: absolute;
}


